<h1><%= @sub.title %></h1>

<h2><%= @sub.description%></h2>
<a href="<%= edit_user_sub_url(@sub) %>">Edit Sub</a>
<a href="<%= subs_url %>">Go back to All Subs</a>
<a href="<%= new_sub_post_url(@sub) %>">Create new post</a>